[submodule "pfQuest"]
	path = pfQuest
	url = https://gitlab.com/shagu/pfQuest
[submodule "pfSimpleDamage"]
	path = pfSimpleDamage
	url = https://gitlab.com/shagu/pfSimpleDamage
[submodule "pfStudio"]
	path = pfStudio
	url = https://gitlab.com/shagu/pfStudio
[submodule "pfUI"]
	path = pfUI
	url = https://gitlab.com/shagu/pfUI
[submodule "pfUI-eliteoverlay"]
	path = pfUI-eliteoverlay
	url = https://gitlab.com/shagu/pfUI-eliteoverlay
[submodule "pfUI-fonts"]
	path = pfUI-fonts
	url = https://gitlab.com/shagu/pfUI-fonts
[submodule "ShaguBam"]
	path = ShaguBam
	url = https://gitlab.com/shagu/ShaguBam
[submodule "ShaguBoP"]
	path = ShaguBoP
	url = https://gitlab.com/shagu/ShaguBoP
[submodule "ShaguChat"]
	path = ShaguChat
	url = https://gitlab.com/shagu/ShaguChat
[submodule "ShaguClock"]
	path = ShaguClock
	url = https://gitlab.com/shagu/ShaguClock
[submodule "ShaguColor"]
	path = ShaguColor
	url = https://gitlab.com/shagu/ShaguColor
[submodule "ShaguCombat"]
	path = ShaguCombat
	url = https://gitlab.com/shagu/ShaguCombat
[submodule "ShaguCopy"]
	path = ShaguCopy
	url = https://gitlab.com/shagu/ShaguCopy
[submodule "ShaguDelgado"]
	path = ShaguDelgado
	url = https://gitlab.com/shagu/ShaguDelgado
[submodule "ShaguError"]
	path = ShaguError
	url = https://gitlab.com/shagu/ShaguError
[submodule "ShaguInventory"]
	path = ShaguInventory
	url = https://gitlab.com/shagu/ShaguInventory
[submodule "ShaguKill"]
	path = ShaguKill
	url = https://gitlab.com/shagu/ShaguKill
[submodule "ShaguMount"]
	path = ShaguMount
	url = https://gitlab.com/shagu/ShaguMount
[submodule "ShaguNotify"]
	path = ShaguNotify
	url = https://gitlab.com/shagu/ShaguNotify
[submodule "ShaguPlates"]
	path = ShaguPlates
	url = https://gitlab.com/shagu/ShaguPlates
[submodule "ShaguPremium"]
	path = ShaguPremium
	url = https://gitlab.com/shagu/ShaguPremium
[submodule "ShaguQuest"]
	path = ShaguQuest
	url = https://gitlab.com/shagu/ShaguQuest
[submodule "ShaguScore"]
	path = ShaguScore
	url = https://gitlab.com/shagu/ShaguScore
[submodule "ShaguStance"]
	path = ShaguStance
	url = https://gitlab.com/shagu/ShaguStance
[submodule "ShaguTooltips"]
	path = ShaguTooltips
	url = https://gitlab.com/shagu/ShaguTooltips
[submodule "ShaguUI"]
	path = ShaguUI
	url = https://gitlab.com/shagu/ShaguUI
[submodule "ShaguValue"]
	path = ShaguValue
	url = https://gitlab.com/shagu/ShaguValue
[submodule "pfDebug"]
	path = pfDebug
	url = https://gitlab.com/shagu/pfDebug
[submodule "GMBlacklist"]
	path = GMBlacklist
	url = https://gitlab.com/shagu/GMBlacklist
