[submodule "pfQuest"]
	path = pfQuest
	url = https://github.com/shagu/pfQuest
[submodule "pfSimpleDamage"]
	path = pfSimpleDamage
	url = https://github.com/shagu/pfSimpleDamage
[submodule "pfStudio"]
	path = pfStudio
	url = https://github.com/shagu/pfStudio
[submodule "pfUI"]
	path = pfUI
	url = https://github.com/shagu/pfUI
[submodule "pfUI-eliteoverlay"]
	path = pfUI-eliteoverlay
	url = https://github.com/shagu/pfUI-eliteoverlay
[submodule "pfUI-fonts"]
	path = pfUI-fonts
	url = https://github.com/shagu/pfUI-fonts
[submodule "ShaguBam"]
	path = ShaguBam
	url = https://github.com/shagu/ShaguBam
[submodule "ShaguBoP"]
	path = ShaguBoP
	url = https://github.com/shagu/ShaguBoP
[submodule "ShaguChat"]
	path = ShaguChat
	url = https://github.com/shagu/ShaguChat
[submodule "ShaguClock"]
	path = ShaguClock
	url = https://github.com/shagu/ShaguClock
[submodule "ShaguColor"]
	path = ShaguColor
	url = https://github.com/shagu/ShaguColor
[submodule "ShaguCombat"]
	path = ShaguCombat
	url = https://github.com/shagu/ShaguCombat
[submodule "ShaguCopy"]
	path = ShaguCopy
	url = https://github.com/shagu/ShaguCopy
[submodule "ShaguDelgado"]
	path = ShaguDelgado
	url = https://github.com/shagu/ShaguDelgado
[submodule "ShaguError"]
	path = ShaguError
	url = https://github.com/shagu/ShaguError
[submodule "ShaguInventory"]
	path = ShaguInventory
	url = https://github.com/shagu/ShaguInventory
[submodule "ShaguKill"]
	path = ShaguKill
	url = https://github.com/shagu/ShaguKill
[submodule "ShaguMount"]
	path = ShaguMount
	url = https://github.com/shagu/ShaguMount
[submodule "ShaguNotify"]
	path = ShaguNotify
	url = https://github.com/shagu/ShaguNotify
[submodule "ShaguPlates"]
	path = ShaguPlates
	url = https://github.com/shagu/ShaguPlates
[submodule "ShaguPremium"]
	path = ShaguPremium
	url = https://github.com/shagu/ShaguPremium
[submodule "ShaguQuest"]
	path = ShaguQuest
	url = https://github.com/shagu/ShaguQuest
[submodule "ShaguScore"]
	path = ShaguScore
	url = https://github.com/shagu/ShaguScore
[submodule "ShaguStance"]
	path = ShaguStance
	url = https://github.com/shagu/ShaguStance
[submodule "ShaguTooltips"]
	path = ShaguTooltips
	url = https://github.com/shagu/ShaguTooltips
[submodule "ShaguUI"]
	path = ShaguUI
	url = https://github.com/shagu/ShaguUI
[submodule "ShaguValue"]
	path = ShaguValue
	url = https://github.com/shagu/ShaguValue
[submodule "pfDebug"]
	path = pfDebug
	url = https://github.com/shagu/pfDebug
[submodule "GMBlacklist"]
	path = GMBlacklist
	url = https://github.com/shagu/GMBlacklist
[submodule "pfUI-darkmod"]
	path = pfUI-darkmod
	url = https://github.com/shagu/pfUI-darkmod.git/
[submodule "ShaguJWC"]
	path = ShaguJWC
	url = https://github.com/shagu/ShaguJWC
[submodule "ShaguMail"]
	path = ShaguMail
	url = https://github.com/shagu/ShaguMail
[submodule "ShaguWidget"]
	path = ShaguWidget
	url = https://github.com/shagu/ShaguWidget
[submodule "vanilla-hunter-pets"]
	path = vanilla-hunter-pets
	url = https://github.com/shagu/vanilla-hunter-pets
[submodule "ShaguGhetto"]
	path = ShaguGhetto
	url = https://github.com/shagu/ShaguGhetto
[submodule "ShaguJunk"]
	path = ShaguJunk
	url = https://github.com/shagu/ShaguJunk
[submodule "ShaguTweaks"]
	path = ShaguTweaks
	url = https://github.com/shagu/ShaguTweaks
[submodule "pfQuest-turtle"]
	path = pfQuest-turtle
	url = https://github.com/shagu/pfQuest-turtle
[submodule "ShaguMeter"]
	path = ShaguMeter
	url = https://github.com/shagu/ShaguMeter
[submodule "ShaguDPS"]
	path = ShaguDPS
	url = https://github.com/shagu/ShaguDPS
[submodule "ShaguController"]
	path = ShaguController
	url = https://github.com/shagu/ShaguController
[submodule "pfQuest-icons"]
	path = pfQuest-icons
	url = https://github.com/shagu/pfQuest-icons
[submodule "antispam"]
	path = antispam
	url = https://github.com/shagu/antispam
[submodule "ShaguActions"]
	path = ShaguActions
	url = https://github.com/shagu/ShaguActions
[submodule "ShaguBoat"]
	path = ShaguBoat
	url = https://github.com/shagu/ShaguBoat
[submodule "ShaguScan"]
	path = ShaguScan
	url = https://github.com/shagu/ShaguScan
[submodule "ShaguTweaks-extras"]
	path = ShaguTweaks-extras
	url = https://github.com/shagu/ShaguTweaks-extras
